<!-- Publications Section -->
    <section id="publications" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Publications</h2>
                </div>
            </div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p> Yuanning Li, K.M. Kocot, M.G. Tassia, J.T. Cannon, M. Bernt, K.M. Halanych. 2019. Mitogenomics Reveals a Novel Genetic Code in Hemichordata. <i>Genome Biology and Evolution</i>. 11: 29–40. <a href="https://doi.org/10.1093/gbe/evy254">doi.org/10.1093/gbe/evy254</a>. (<a href="assets/Li_et_al_2019_GBE.pdf">pdf</a>)</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p> M.P. Galaska, Yuanning Li, K.M. Kocot, A.R. Mahon, K.M. Halanych. Conservation of mitochondrial genome arrangements in brittle stars (Echinodermata, Ophiuroidea). <i>Molecular phylogenetics and evolution</i>. 130: 115-120. <a href="https://doi.org/10.1016/j.ympev.2018.10.002">doi:doi.org/10.1016/j.ympev.2018.10.002</a>. (<a href="assets/Angelo_et_al_2017_Scientific_report.pdf">pdf</a>)</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p> Yuanning, Li, M.R. Liles, K.M. Halanych, 2018. Endosymbiont genomes yield clues of tubeworm success. <i>The ISME journal</i>. 12(11), 2785–2795. <a href="https://doi.org/10.1038/s41396-018-0220-z">doi:10.1038/s41396-018-0220-z</a>. (<a href="assets/Li_et_al_2018_ISME.pdf">pdf</a>)</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p> Yuanning, Li, K.M. Kocot, N.V. Whelan, S.R. Santos, D.S. Waits, D.J. Thornhill, K.M. Halanych. 2018. Phylogenomics of tubeworms (Siboglinidae, Annelida) and comparative performance of different reconstruction methods. <i>Zoologica Scripta</i>. 46: 200-213. <a href="http://dx.doi.org/10.1111/zsc.12201">doi:10.1111/zsc.12201</a>. (<a href="assets/Li_et_al_2016_zooscripta.pdf">pdf</a>)</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p> L. Ning, L. Bao, T. Zhou, Z. Yuan, S. Liu, R. Dunham, Yuanning, Li et al. 2018. Genome sequence of walking catfish. (<i>Clarias batrachus</i>) provides insights into terrestrial adaptation. <i>BMC genomics</i> 19, no. 1 (2018): 952.. <a href="https://doi.org/10.1186/s12864-018-5355-9">doi:10.1186/s12864-018-5355-9</a>. (<a href="assets/Li_et_al_2018_BMC_GENOMICS.pdf">pdf</a>)</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p> A.F. Bernardino, Yuanning, Li, C.R. Smith, K.M. Halanych. Multiple introns in a deep-sea Annelid (Decemunciger: Ampharetidae) mitochondrial genome. <i>Scientific reports</i>. 27;7(1):4295. <a href="https://doi.org/10.1038/s41598-017-04094-w">doi:10.1038/s41598-017-04094-w</a>. (<a href="assets/Li_et_al_2017_Scientific_report.pdf">pdf</a>)</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p> W. Damien S., S.R. Santos, D.J. Thornhill, Yuanning Li, K.M. Halanych. Evolution of Sulfur Binding by Hemoglobin in Siboglinidae (Annelida) with Special Reference to Bone-Eating Worms, <i>Osedax</i>.  <i>Journal of molecular evolution</i>. 82:219-229. <a href="https://doi.org/10.1007/s00239-016-9739-7">doi:10.1007/s00239-016-9739-7</a>. (<a href="assets/Waits_et_al_2016.pdf">pdf</a>)</p>
</div><div class="box-footer"> </div></div>

<div class="box"><div class="box-title"></div><div class="box-body">
<p> Yuanning, Li, K.M. Kocot, C. Schander, S.R. Santos, D.J. Thornhill, and K.M. Halanych. 2015. Mitogenomics reveals phylogeny and repeated motifs in control regions of the deep-sea family Siboglinidae (Annelida). <i>Molecular phylogenetics and evolution</i>. 85 (2015): 221-229. <a href="https://doi.org/10.1016/j.ympev.2015.02.008">doi:10.1016/j.ympev.2015.02.008</a>. (<a href="assets/Li_et_al_2015_MPE.pdf">pdf</a>)</p>
</div><div class="box-footer"> </div></div>
	
	</div>
</section>
